body{
	position: relative;
	.insert-commands-list-wrap{
		right: unset !important;
		position: fixed !important;
		.oo-ui-popupWidget-body{
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			height: unset !important;
			max-height: 310px;
			.commands-list{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				padding: 5px 0;
				span.insert-command{
					cursor: pointer;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					margin: 0 5px;
					padding: 12px 10px;
					color: #202122 !important;
					border-radius: 3px;
					&:hover{
						background: unset;
						//background: #ebf3fa;
					}
					&.selected{
						background: #f5f5f5;
						outline: none !important;
						border: none !important;
					}
					&.hidden{
						display: none;
					}
					&:last-child{
						border-bottom: unset;
					}
					.oo-ui-iconElement-icon{
						position: unset !important;
						margin-right: 7px;
					}
					.oo-ui-icon-noIcon{
						display: none;
					}
				}
			}
		}
	}
}
